$width: 80px;

$text-color: rgb(116, 109, 109);


body {
    background-color: #eee;
    margin: $width;
}

.main {

    h1 {
        text-transform: uppercase;
        padding: 20px $width*5 0px $width;
    }
}

.items {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    margin: 40px $width $width/2 $width;
    // margin-top: 20px;

    div {
        border: 1px solid #ccc;
        box-shadow: 1px 1px 5px 2px #eee;
        background-color: #fff;
        margin-bottom: 50px;
        padding: 20px;


        i {
            font-size: 50px;
            color: rgb(74, 170, 157);
        }

        h2 {
            text-transform: capitalize;
            margin: 0%;
        }

        p {
            margin: 0%;
            color: $text-color;
        }
    }
}

